* {
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  scrollbar-width: thin;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
    circle,
    #e41818,
    #e41616,
    #ca1414,
    #b91313,
    #941212
  );
}

.App__pokeball {
  padding: 1.3rem;
  width: 40rem;
  position: absolute;
  top: 1rem;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

.App__pokeball img {
  width: 100%;
  opacity: 0.15;
  animation: pokeball 100s linear infinite;
}

.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.notfound__logo {
  width: 25rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.notfound__logo img {
  filter: drop-shadow(8px 8px 5px #111);
}

.notfound__div {
  width: 50rem;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #6d1111,
    #671010,
    #610f10,
    #5b0f0f,
    #550e0e
  );
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px #111;
}

.notfound__title {
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
}

.notfound__btn {
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #00dc26;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #111;
  cursor: pointer;
  z-index: 100;
}

.notfound__btn:hover {
  transform: scale(1.03);
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.login__logo {
  width: 25rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.login__logo img {
  filter: drop-shadow(8px 8px 5px #111);
}

.login__card {
  padding: 0.8rem;
  position: relative;
  width: 40rem;
  height: 22rem;
  color: #fff;
  background-image: radial-gradient(
    circle,
    #6d1111,
    #671010,
    #610f10,
    #5b0f0f,
    #550e0e
  );
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px #111;
}

.login__card::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 10rem;
  right: 0;
  bottom: -2rem;
  background-image: url("https://i.postimg.cc/QxzPDTD0/pokedex-pokeball.png");
  background-size: 30rem;
  background-repeat: no-repeat;
  transform: rotate(40deg);
  opacity: 0.1;
}

.login__title {
  margin: 2rem 0 1rem;
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
}

.login__welcome {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
}

.login__select {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 200;
}

.login__select_trainer {
  display: flex;
  gap: 0.5rem;
}

.login__select_trainer label {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.login__select_trainer input {
  margin-top: 0.5rem;
  width: 1rem;
  cursor: pointer;
  z-index: 100;
}

.login__trainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trainer__img {
  margin-left: 3rem;
  width: 13rem;
}

.img {
  transform: scaleX(-1);
  filter: drop-shadow(1px 1px 2px #111);
}

.login__name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: #e6e6e6;
}

.login__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login__input {
  width: 20rem;
  height: 2.2rem;
  border-style: none;
  border-radius: 2rem;
  text-align: center;
  color: #303030;
  font-size: 1.2rem;
  font-weight: 500;
  filter: drop-shadow(1px 1px 3px #111);
}

.login__input:focus {
  outline: none;
}

.login__btn {
  margin-top: -0.5rem;
  margin-left: -2.1rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #f0f0f0;
  background-color: #08c230;
  filter: drop-shadow(1px 1px 4px #111);
  cursor: pointer;
}

.login__btn:hover {
  transform: scale(1.05);
}

/* POKEDEX */

.pokedex {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #e41818,
    #e41616,
    #ca1414,
    #b91313,
    #941212
  );
}

.pokedex__btn_login {
  padding: 0.5rem;
  width: 5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #00dc26;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #111;
  cursor: pointer;
  z-index: 100;
}

.pokedex__btn_login:hover {
  transform: scale(1.03);
}

.pokedex__logo {
  margin: 1rem 0 0 1rem;
  /* align-self: flex-start; */
  width: 25rem;
  z-index: 10;
}

.pokedex__logo img {
  filter: drop-shadow(8px 8px 5px #111);
}

.pokedex__welcome {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.pokedex__welcome span {
  font-weight: 600;
  color: #16d33f;
}

.pokedex__filters {
  padding: 0.3rem 0;
  margin-top: 0.3rem;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #6d1111,
    #671010,
    #610f10,
    #5b0f0f,
    #550e0e
  );
  border-radius: 3rem;
  box-shadow: 5px 5px 8px #111;
  z-index: 10;
}

.filters__input {
  display: flex;
  align-items: center;
}

.pokedex__filters input {
  width: 20rem;
  height: 2.2rem;
  border-style: none;
  border-radius: 2rem;
  text-align: center;
  color: #303030;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 2px 2px 8px #111;
}

.pokedex__filters button {
  margin-left: -2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #08c230;
  box-shadow: 2px 2px 8px #111;
  cursor: pointer;
}

.pokedex__filters button:hover {
  transform: scale(1.05);
}

.pokedex__filters input:focus {
  outline: none;
}

.filters__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.select__title {
  margin-top: -0.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
}

.pokedex__filters select {
  width: 10rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #222;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px #111;
  cursor: pointer;
}

.pokedex__filters select:focus {
  outline: none;
}

.filters__pagination {
  width: 100%;
  height: 5rem;
  display: flex;
  grid-area: 6 / 4 / 6 / 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c41a1a;
  border-radius: 2rem;
  box-shadow: 2px 2px 8px #111;
  gap: 1rem;
}

.pagination__btn {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #08c230;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #111;
  cursor: pointer;
}

.pagination__btn:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 10px #111;
  font-size: 1.1rem;
  transition: 0.1s;
}

.pagination__title {
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
}

.filters__pagination .pagination__title {
  margin-top: -1rem;
}

.pagination__page {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.pagination__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex__container {
  margin-top: 2rem;
  padding: 1rem;
  width: 90vw;
  height: 18rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 1.5rem;
  background-image: radial-gradient(
    circle,
    #6d1111,
    #671010,
    #610f10,
    #5b0f0f,
    #550e0e
  );
  border-radius: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-y: scroll;
  box-shadow: 5px 7px 10px #111;
  z-index: 10;
}

/* PokemonCard */

.pokemon__card {
  width: 24rem;
  height: 11rem;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px #121;
  overflow: hidden;
  cursor: pointer;
}

.pokemon__card::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 12rem;
  right: 0;
  bottom: -2rem;
  background-image: url("https://i.postimg.cc/QxzPDTD0/pokedex-pokeball.png");
  background-size: 13rem;
  background-repeat: no-repeat;
  transform: rotate(40deg);
  opacity: 0.08;
}

.pokemon__card:hover {
  transform: scale(1.03);
  transition: 0.1s;
}

.pokemon__img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pokemon__img img {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 9rem;
  filter: drop-shadow(3px 5px 5px #111);
}

.pokemon__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: radial-gradient(
    circle,
    #e7e7e7,
    #dfdfdf,
    #d8d8d8,
    #d0d0d0,
    #c9c9c9
  );
  border-radius: 1rem;
  border: 5px solid transparent;
}

.pokemon__name {
  padding: 0 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #222;
}

.pokemon__list_types {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.pokemon__item_types {
  padding: 0.1rem 0.5rem;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px #111;
}

.pokemon__div_stats {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  border-top: 0.1rem dashed #222;
}

.stats__title {
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}

.stats__value {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.stats__hp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__atk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__def {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* POKEMON DETAILS */

.details {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__grid {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details__infos {
  margin-top: 1.7rem;
  display: flex;
  gap: 1.7rem;
}

.details__pokemon {
  margin-left: -1rem;
  width: 53rem;
  height: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
}

.details__pokemon::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 14rem;
  right: 0;
  bottom: -2rem;
  background-image: url("https://i.postimg.cc/QxzPDTD0/pokedex-pokeball.png");
  background-size: 23rem;
  background-repeat: no-repeat;
  opacity: 0.08;
}

.details__pokemon_img {
  margin-top: -6rem;
  width: 15rem;
  cursor: pointer;
}

.details__pokemon_img img {
  filter: drop-shadow(5px 5px 5px #111);
}

.details__pokemon_img img:hover {
  transform: scale(1.03);
  transition: 0.05s;
}

.details__pokemon_name {
  margin-top: -1rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.details__pokemon_id {
  font-size: 1.2rem;
  font-weight: 300;
}

.details__pokemon_list {
  margin-top: 1rem;
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border-top: 0.1rem solid #999;
}

.details__pokemon_div {
  padding: 0.3rem;
  margin-top: 0.8rem;
  width: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px #111;
}

.details__info1 {
  margin-left: -1rem;
  width: 26.20rem;
  height: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #ddd;
}

.details__info1::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 9rem;
  right: 0;
  bottom: -2rem;
  background-image: url("https://i.postimg.cc/QxzPDTD0/pokedex-pokeball.png");
  background-size: 15rem;
  background-repeat: no-repeat;
  transform: rotate(40deg);
  opacity: 0.08;
  animation: pokeball 40s linear infinite;
}

.details__type {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.details__types {
  padding: 0.3rem;
  width: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #111;
  cursor: pointer;
}

.details__types:hover {
  transform: scale(1.05);
  transition: 0.05s;
}

.details__type_div {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.details__info2 {
  margin-left: -1rem;
  width: 26.20rem;
  height: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #ddd;
}

.details__info2::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 9rem;
  right: 0;
  bottom: -2rem;
  background-image: url("https://i.postimg.cc/QxzPDTD0/pokedex-pokeball.png");
  background-size: 15rem;
  background-repeat: no-repeat;
  transform: rotate(40deg);
  opacity: 0.08;
  animation: pokeball 40s linear infinite;
}

.details__abilities {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.details__abilities_div {
  width: 90%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.details__abilities_value {
  padding: 0.4rem;
  position: relative;
  color: #fff;
  background-color: #00dc26;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px #111;
  cursor: pointer;
}

.details__abilities_value:hover {
  font-size: 1.03rem;
  font-weight: 500;
  transition: 0.05s;
}

.details__moves {
  margin-top: 3rem;
  margin-left: 1rem;
  width: 20rem;
  height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ddd;
}

.details__moves_title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.details__moves_container {
  width: 100%;
  overflow-y: scroll;
}

.details__moves_list {
  list-style: none;
}

.details__moves_item {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 0.1rem solid #1111112d;
  color: #fff;
  background-color: #550e0e;
  cursor: pointer;
}

.details__moves_item:hover {
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.05s;
}

/* ANIMTAION/TRANSITIONS */
@keyframes pokeball {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIAQUERIES */
@media screen and (min-width: 2300px) {
  .pokedex__container {
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
  }

  .pokedex__filters {
    padding: 0.5rem 1rem;
    width: 40vw;
  }

  .details {
    width: 70vw;
  }
}

@media screen and (min-width: 1750px) and (max-width: 2300px) {

  .login__logo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
    right: 0;
    top: -10rem;
  }
  
  .pokedex__container {
    width: 68vw;
    height: 50vh;
  }

  .pokedex__filters {
    padding: 0.5rem 1rem;
    width: 50vw;
  }

  .filters__pagination {
    grid-area: 7 / 2;
  }
}

@media screen and (max-width: 1750px) {
  .pokedex__filters {
    padding: 0.5rem 1rem;
  }

  .pokedex__container {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .pokemon__card {
    width: 28rem;
  }

  .filters__pagination {
    grid-area: 10 / 1 / 10 / 3 ;
  }
}

@media screen and (max-width: 1024px) {
  .pokedex__filters {
    height: 12rem;
    flex-direction: column;
  }

  .select__title {
    margin-top: .5rem;
  }

  .pokedex__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .pokemon__card {
    width: 22rem;
  }

  .details__pokemon {
    height: 30rem;
  }

  .details__pokemon_list {
    flex-wrap: wrap;
  }

  .details__moves {
    margin-right: -1rem;
    height: 46rem;
    width: 18rem;
  }

  .details__info1 {
    height: 14rem;
    justify-content: space-evenly;
  }

  .details__info2 {
    height: 14rem;
    justify-content: center;
  }

  .details__abilities_div {
    width: fit-content;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 820px) {
  .pokedex__btn_login {
    display: none;
  }

  .pokedex__container {
    grid-template-columns: 1fr;
  }

  .filters__pagination {
    grid-area: 19;
  }

  .pokemon__card {
    width: 70vw;
  }

  .details__moves_item {
    height: 2rem;
    font-size: .9rem;
  }
}

@media screen and (max-width: 530px) {
  .pokedex {
    width: 100vw;
    height: 100vh;
  }

  .pokedex__logo {
    width: 20rem;
    margin-top: 5rem;
  }
  
  .pokedex__welcome {
    font-size: 1rem;
  }

  .pokedex__filters {
    width: 80vw;
    border-radius: 0;
  }

  .pokedex__filters input {
    width: 18rem;
    font-size: 1rem;
  }

  .pokedex__container {
    width: 80vw;
    height: 20rem;
    border-radius: 0;
  }

  .pokemon__card {
    width: 18rem;
  }

  .pokemon__img img{
    width: 7rem;
  }

  .pokemon__item_types {
    width: 3rem;
    font-size: .8rem;
  }

  .filters__pagination {
    width: 15rem;
  }
}

@media screen and (max-width: 400px) {

  .pokedex__logo {
    width: 17rem;
    margin-top: 3rem;
  }

  .pokemon__card {
    min-height: 10rem;
  }

  .pokemon__img img {
    margin: 0;
    width: 5.5rem;
  }

  .pokedex__filters input {
    width: 15rem;
    height: 2rem;
  }

  .pokedex__filters button {
    width: 2.2rem;
    height: 2.2rem;
  }

  .pokedex__filters select {
    width: 8rem;
  }

  .pokemon__card {
    width: fit-content;
  }

  .pokemon__info {
    width: auto;
  }

  .details__pokemon {
    width: 60vw;
  }
  
}

/* BGN Dynamic */
.bgn-bug {
  background-color: #9fd81b;
  color: #222;
  font-weight: 500;
}

.bdr-bug {
  border-color: #9fd81b;
}

.bgn-dark {
  background-color: #2a2a2a;
  color: #fff;
}

.bdr-dark {
  border-color: #2a2a2a;
}

.bgn-dragon {
  background-color: #6035ff;
  color: #fff;
}

.bdr-dragon {
  border-color: #6035ff;
}

.bgn-electric {
  background-color: #fff300;
  color: #222;
  font-weight: 500;
}

.bdr-electric {
  border-color: #fff300;
}

.bgn-fairy {
  background-color: #f58aff;
  color: #222;
  font-weight: 500;
}

.bdr-fairy {
  border-color: #f58aff;
}

.bgn-fighting {
  background-color: #99350a;
  color: #fff;
}

.bdr-fighting {
  border-color: #99350a;
}

.bgn-fire {
  background-color: #f83c08;
  color: #fff;
}

.bdr-fire {
  border-color: #f83c08;
}

.bgn-flying {
  background-color: #2a92e1;
  color: #fff;
}

.bdr-flying {
  border-color: #2a92e1;
}

.bgn-ghost {
  background-color: #040738;
  color: #fff;
}

.bdr-ghost {
  border-color: #040738;
}

.bgn-grass {
  background-color: #00dc26;
  color: #fff;
}

.bdr-grass {
  border-color: #00dc26;
}

.bgn-ground {
  background-color: #cdc16f;
  color: #222;
  font-weight: 500;
}

.bdr-ground {
  border-color: #cdc16f;
}

.bgn-ice {
  background-color: #86f1ff;
  color: #222;
  font-weight: 500;
}

.bdr-ice {
  border-color: #86f1ff;
}

.bgn-normal {
  background-color: #ebecd7;
  color: #222;
  font-weight: 500;
}

.bdr-normal {
  border-color: #ebecd7;
}

.bgn-poison {
  background-color: #6d0f8e;
  color: #fff;
}

.bdr-poison {
  border-color: #6d0f8e;
}

.bgn-psychic {
  background-color: #b91254;
  color: #fff;
}

.bdr-psychic {
  border-color: #b91254;
}

.bgn-rock {
  background-color: #5c4d2c;
  color: #fff;
}

.bdr-rock {
  border-color: #5c4d2c;
}

.bgn-steel {
  background-color: #91b3c9;
  color: #222;
  font-weight: 500;
}

.bdr-steel {
  border-color: #91b3c9;
}

.bgn-water {
  background-color: #006fff;
  color: #fff;
}

.bdr-water {
  border-color: #006fff;
}

/* Scroll bar style */

.pokedex__container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.pokedex__container::-webkit-scrollbar:vertical {
  width: 10px;
}

.pokedex__container::-webkit-scrollbar-button:increment,
.pokedex__container::-webkit-scrollbar-button {
  display: none;
}

.pokedex__container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.pokedex__container::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 10px;
  border: 2px solid #550e0e;
}

/* POKEMON MOVES */
.details__moves_container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.details__moves_container::-webkit-scrollbar:vertical {
  width: 0px;
}

.details__moves_container::-webkit-scrollbar-button:increment,
.details__moves_container::-webkit-scrollbar-button {
  display: none;
}

.filters__select select::-webkit-scrollbar {
  -webkit-appearance: none;
}

.filters__select select::-webkit-scrollbar:vertical {
  width: 5px;
}

.filters__select select::-webkit-scrollbar-button:increment,
.filters__select select::-webkit-scrollbar-button {
  display: none;
}

.filters__select select::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 10px;
}

.filters__select select::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  width: 5px;
  border-radius: 5px;
}
